In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
#import tsv file as a dataframe
dataset = pd.read_csv('data/collection.tsv', sep='\t')

#check the first 5 rows
dataset.head()

,0,The presence of communication amid scientific minds was equally important to the success of the Manhattan Project as scientific intellect was. The only cloud hanging over the impressive achievement of the atomic researchers and engineers is what their success truly meant; hundreds of thousands of innocent lives obliterated.
0,1,The Manhattan Project and its atomic bomb help...
1,2,Essay on The Manhattan Project - The Manhattan...
2,3,The Manhattan Project was the name for a proje...
3,4,versions of each volume as well as complementa...
4,5,The Manhattan Project. This once classified ph...

In [6]:
#import csv as a dataframe
train_querys = pd.read_csv('data/queries_train.csv')
test_querys = pd.read_csv('data/queries_test.csv')

In [9]:
train_querys.head()

   qid                               query  topic_number  turn_number
0  4_1  What was the neolithic revolution?             4            1
1  4_2          When did it start and end?             4            2
2  4_3                   Why did it start?             4            3
3  4_4      What did the neolithic invent?             4            4
4  4_5               What tools were used?             4            5

In [10]:
test_querys.head()

,qid,query,topic_number,turn_number
0,1_1,What is a physician's assistant? ...,1,1
1,1_2,What are the educational requirements required...,1,2
2,1_3,What does it cost? ...,1,3
3,1_4,What's the average starting salary in the UK? ...,1,4
4,1_5,What about in the US? ...,1,5